.App-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:cadetblue;
}
body{
  margin: 0;
  padding: 0;
}